<div class="{% if section.settings.checkbox == true %}header__sticky {% endif %}header__container container">
  <div class="header__nav">
    <div class="header__logo-block">
      {% if section.settings.logo != blank %}
        <a href="/" class="header__logo">
          <img src={{ section.settings.logo | img_url:'master'}} alt="">
        </a>
      {% endif %}
    </div>
    {% comment %} fetched single collection from admin {% endcomment %}
    <div class="header__collection-block">
      {% if section.settings.collection %}
        {% assign item = collections[section.settings.collection] %}
        <a class="header__nav-anchor">{{ item.title }}</a>
        <div class="header__sub">
          {% for prodItem in item.products %}
            {% comment %} using forloop to filter first prod {% endcomment %}
            {% if forloop.index == 2 %}
              <div class=" header__product-card">
                <div class="header__product-image header__child-block">
                  <a href="{{ prodItem.url }}">
                    <img
                      class="header__product-image"
                      src={{ prodItem.images[0] | img_url: 'large' }}
                      alt="{{ prodItem.images[0].alt}}" />
                  </a>
                </div>
                <div class="header__product-info header__child-block">
                  {% if prodItem.title != blank %}
                    <p>Product name:
                      <b>{{ prodItem.title }}</b>
                    </p>
                  {% endif %}
                  {% if prodItem.title != blank %}
                    <p>Product price:
                      <b>{{ prodItem.price | money }}</b>
                    {% endif %}
                  </p>
                </div>
              </div>
            {% endif %}
          {% endfor %}
        {% endif %}
      </div>
    </div>
    <div class="header__links">
      <ul class="header__nav-list">
        {% comment %} parent links {% endcomment %}
        {% for link in section.settings.navigation.links %}
          <li class="header__nav-item">
            <a class="header__nav-anchor" href="{{ link.url }}">{{ link.title }}</a>
            {% if link.links != blank %}
              <ul class="header__sub">
                {% comment %} child links {% endcomment %}
                {% for child_link in link.links %}
                  <li class="header__child-block">
                    <a class="header__child-list" href="{{ child_link.url }}">
                      {{ child_link.title }}</a>

                    {% if child_link.links != blank %}
                      <ul class="header__grandchild-list">
                        {% comment %} grand child links {% endcomment %}
                        {% for grandchild_link in child_link.links %}
                          <li>
                            <a href="{{ grandchild_link.url }}">
                              {{ grandchild_link.title }}
                            </a>
                          </li>
                        {% endfor %}
                      </ul>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            {% endif %}
          </li>
        {% endfor %}
      </ul>
    </div>
    <div class="header__cart js-cartToggle">
      <div class="header__cart-bubble">
        <span>{{ cart.item_count }}</span>
      </div>
      <img src={{ section.settings.cart | img_url:'master'}} alt="">
    </div>
    <div class="header__cart-drawer">
      <div class="header__cart__head">
        <a href="#" class="header__cart-close">x</a>
        <p>Cart Items {{ cart.item_count }}</p>
      </div>
      {% comment %} cart drawer items {% endcomment %}
      {% for item in cart.items %}
        <div class="cart__item" data-key="{{ item.key }}">
          <div class="cart__item-info">
            <div class="cart__item-image">
              <a href="{{ item.url }}">
                <img src="{{ item.image | img_url:'small' }}" alt="" />
              </a>
            </div>
            <div class="cart__item-product">
                {% if item.title != blank %}
                  <p>{{ item.title }}</p>
                {% endif %}
                {% if item.title != blank %}
                  <p>{{ item.price | money }}</p>
                {% endif %}
                {% for variant in product.variants %}
                  {% if item.title != blank %}
                    <p>{{ variant.title }}</p>
                  {% endif %}
                {% endfor %}
              </div>
            
              {% comment %} <div class="cart-item-remove">
                <a href="{{ item.url_to_remove  }}"><p>remove</p></a>
              </div> {% endcomment %}
            </div>
          </div>
        {% endfor %}
      </div>

    </div>
    {% comment %} hamburger {% endcomment %}
    <button class="header__hamburger-block">
      <span class="header__hamburger-bar"></span>
      <span class="header__hamburger-bar"></span>
      <span class="header__hamburger-bar"></span>
    </button>
    {% comment %} end {% endcomment %}

  </div>
</div>
<div class="header__nav-overlay"></div>

{% schema %}
  {
    "name": "header",
    "tag": "header",
    "class": "header",
    "settings": [
      {
        "type": "image_picker",
        "id": "logo",
        "label": "logo_width"
      },
      {
        "type": "image_picker",
        "id": "cart",
        "label": "cart image"
      },
      {
        "type": "range",
        "id": "logo_width",
        "label": "logo width",
        "default": 100,
        "min": 20,
        "max": 300,
        "step": 5
      },
      {
        "type": "link_list",
        "id": "navigation",
        "label": "Navigation menu",
        "default": "main-menu"
      }, {
        "type": "checkbox",
        "id": "checkbox",
        "label": "enable sticky header",
        "default": false
      }, {
        "type": "collection",
        "id": "collection",
        "label": "add collection"
      }
    ]
  }
{% endschema %}