<h2>Liquid</h2>
{% for tag in collection.tags %}
  {{ tag }}
{% endfor %}
<script>
  window.collectionHandle = "{{ collection.handle }}"
  window.collectionId = "{{ collection.id }}"
  window.collectionUrl = "{{ collection.url }}"
  window.numberOfProducts = "{{ collection.products_count }}"
  {% for tag in collection.tags %}
    window.collectionTags = "{{ tag }}"
  {% endfor %}
</script>